.clr, clr-xs {
    clear: both;
}

.clrL, clrL-xs {
    clear: left;
}

.clrR, clrR-xs {
    clear: right;
}

@media (min-width: 768px) {
    .clr-sm {
        clear: both;
    }

    .clrL-sm {
        clear: left;
    }

    .clrR-sm {
        clear: right;
    }
}

@media (min-width: 992px) {
    .clr-md {
        clear: both;
    }

    .clrL-md {
        clear: left;
    }

    .clrR-md {
        clear: right;
    }
}

@media (min-width: 1200px) {
    .clr-lg {
        clear: both;
    }

    .clrL-lg {
        clear: left;
    }

    .clrR-lg {
        clear: right;
    }
}

.marginL2px {
    margin-left: 2px;
}

.marginR2px {
    margin-right: 2px;
}

.marginLR2px {
    margin-left: 2px;
    margin-right: 2px;
}

.marginL5px {
    margin-left: 5px;
}

.marginR5px {
    margin-right: 5px;
}

.marginLR5px {
    margin-left: 5px;
    margin-right: 5px;
}

.marginLR10px {
    margin-left: 10px;
    margin-right: 10px;
}

.marginL15px {
    margin-left: 15px;
}

.marginR15px {
    margin-right: 15px;
}

.marginT15px {
    margin-top: 15px;
}

.marginB15px {
    margin-bottom: 15px;
}

.marginB20px {
    margin-bottom: 20px;
}

.margin15px {
    margin: 15px;
}

.paddingLR0px {
    padding-left: 0px;
    padding-right: 0px;
}

.paddingL2px {
    padding-left: 2px;
}

.paddingR2px {
    padding-right: 2px;
}

.paddingLR2px {
    padding-left: 2px;
    padding-right: 2px;
}

.padding5px {
    padding: 5px;
}

.padding15px {
    padding: 15px;
}

.padding10px {
    padding: 10px;
}

.paddingT7px {
    padding-top: 7px;
}

.paddingT15px {
    padding-top: 15px;
}

.paddingB15px {
    padding-bottom: 15px;
}

.fontBold {
    font-weight: bold;
}
