extends ../shared/_homeLayout

block vars
	- var title = '线路报名！'

block body
	div#signup_main.col-xs-12.col-md-8.col-md-offset-2.paddingLR0px
		form.form-horizontal
			div.form-group
				label.col-sm-2.control-label 活动
				div.col-sm-9
					select#signup_actSelector.form-control
			div.form-group
				label.col-sm-2.control-label 姓名
				div.col-sm-9
					input#signup_name.form-control(type='text' validate='nameNullable' placeholder='可选')
			div.form-group
				label.col-sm-2.control-label 性别
				div.col-sm-9
					select#signup_gender.form-control
						option 男
						option 女
			div.form-group
				label.col-sm-2.control-label 邮箱
				div.col-sm-9
					input#signup_email.form-control(type='text' validate='email')
			div.form-group
				label.col-sm-2.control-label 手机
				div.col-sm-9
					input#signup_phone.form-control(type='text' validate='phoneNullable' placeholder='可选')
		div.col-xs-11
			button#signup_submit.btn.btn-success.pull-right(disabled) 报名！
	script(src='/content/javascript/pagejs/home/signup/home_signup_common.js?timestamp=#{timestamp}')
	- if(isMobile)
		script(src='/content/javascript/pagejs/home/signup/home_signup_mobile.js?timestamp=#{timestamp}')
	- else
		script(src='/content/javascript/pagejs/home/signup/home_signup_pc.js?timestamp=#{timestamp}')
